@font-face {
   font-family: '7fonts.ru_YIKES!__';
   font-display: swap;
   src: url('file:///C:/Users/Ann/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-21_204524/fonts/7fonts.ru_YIKES!__/font.TTF');
}
